.summary {
  min-width: 40vmax;
  background-color: var(--cart-pink);
  height: 40vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
  align-items: center;
  transition: width 150ms var(--ease-in-out-quart);
  z-index: 10;
}
.summaryTitle {
  font-family: "Hatton";
  user-select: none;
}
.totalWrapper {
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.subtotal,
.delivery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Neue Montreal Book";
}
.subtotalPrice,
.deliveryPrice,
.grandTotalPrice {
  width: 100%;
  display: grid;
  place-items: center end;
}
.grandTotal {
  display: flex;
  flex-direction: row;
  width: 80%;
  user-select: none;
}
.grandTotalTitle {
  font-family: "Hatton";
  font-size: 1.5rem;
}
.grandTotalPrice {
  font-family: "Vietnam Light";
}

@media (min-width: 768px) {
  .summary {
    min-width: 25vw;
    height: 50vh;
  }
}
