.container {
  height: 20vh;
  min-height: 150px;
  /* max-width: 40vw;
  min-width: 340px; */
  width: 100%;
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delivery {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: aqua;
  width: 100%;
}
.priceOptions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: coral;
}
