.prodDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: antiquewhite;
  height: 40vh;
  line-height: 25px;
  font-family: "Neue Montreal Book";
  transition: all 200ms var(--ease-in-out-quart);
}
.namePrice,
.measurements {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.description {
  padding-left: 5vmin;
  padding-right: 5vmin;
}
.measurements {
  position: relative;
  left: 5vmin;
  justify-content: flex-start;
  gap: 10px;
}
.measure {
  font-family: "Gambarino";
}
.title {
  font-family: "Neue Montreal Bold";
}
@media (min-width: 768px) {
  .prodDetails {
    height: 95%;
    width: var(--one-third-width);
    justify-content: center;
    gap: 2.5vmin;
    letter-spacing: 2px;
    font-size: 0.7rem;
  }
  .namePrice,
  .measurements {
    flex-direction: column;
    left: 5vmin;
  }
  .measure {
    display: none;
  }
}
@media (max-height: 610px) {
  .prodDetails {
    font-size: 0.6rem;
    line-height: 15px;
  }
  .measurements {
    gap: 0px;
    line-height: 15px;
  }
  .imgContainer > img {
    object-position: 0% 70%;
  }
}
