.addressForm {
  position: relative;
  height: 45vh;
  width: 100%;
  min-width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}
.deliveryTitle {
  font-family: "Hatton";
}
.inputs {
  min-height: 300px;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.townPostcode,
.emailPhone,
.nameField,
.addressLine1 {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.deliveryAddress {
  display: flex;
  flex-direction: column;
  width: 100%;
}
