.addressForm {
  position: relative;
  height: 65vh;
  width: 45vw;
  min-width: 380px;
  display: flex;
  flex-direction: column;
  margin-top: 2.5vh;
  padding-left: 15px;
  border-radius: 5px;
}
.deliveryTitle {
  font-family: "Hatton";
}
.inputs {
  min-height: 300px;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.townPostcode,
.emailPhone,
.nameField,
.addressLine1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

/* delivery address */
.deliveryAddress {
  display: flex;
  flex-direction: column;
}
