.productPage {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: aqua;
  transition: filter 250ms var(--ease-in-out-quart);
}
.bright {
  filter: brightness(0.5) !important;
}

@media (min-width: 768px) {
  .productPage {
    top: var(--header-height);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
    height: 92vh;
    width: 100vw;
  }
  .prodDetails {
    height: 95%;
    width: var(--one-third-width);
    justify-content: center;
    gap: 2.5vmin;
    letter-spacing: 2px;
    font-size: 0.9rem;
  }
}
@media (max-height: 610px) {
  .imgContainer > img {
    object-position: 0% 70%;
  }
}
