.header {
  position: absolute;
  width: 100%;
  height: 15vh;
  top: 0;
  left: 0;
  background-color: brown;
  display: flex;
  justify-content: space-around;
  align-items: center;
  user-select: none;
}
.cartTitle {
  font-family: "Gambarino";
  text-transform: capitalize;
  font-size: 10vmin;
}
.closeBtn {
  position: relative;
  font-family: "Neue Montreal Book";
  left: 8vw;
  bottom: 2vh;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
