:root {
  --y: 377.5;
  --header-height: 8vh;
  --checkout-header-height: 15vh;
  --prod-navbar-hgt: 10vh;
  --ease-in-out-quart: cubic-bezier(0.76, 0, 0.24, 1);
  --cart-dark-red: rgb(73, 5, 5);
  --cart-dark-red-outline: rgb(29, 2, 2);
  --cart-pink: rgb(255, 202, 202);
  --cart-btn-disabled: rgb(88, 72, 72);
  --checkout-navbar-colour: rgb(209, 226, 244);
  --delivery-selected: rgba(209, 226, 244, 0.56);
  --two-third-width: 65vw;
  --one-third-width: 35vw;
  --border-rad: 20px;
}

@font-face {
  font-family: "Neue Montreal Book";
  src: url("../Fonts/PPNeueMontreal-Book.otf");
}
@font-face {
  font-family: "Neue Montreal Italic";
  src: url("../Fonts/PPNeueMontreal-Italic.otf");
}
@font-face {
  font-family: "Neue Montreal Bold";
  src: url("../Fonts/PPNeueMontreal-Bold.otf");
}
@font-face {
  font-family: "Gambarino";
  src: url("../Fonts/Gambarino-Regular.otf");
}
@font-face {
  font-family: "Vietnam Light";
  src: url("../Fonts/BeVietnamPro-Light.otf");
}
@font-face {
  font-family: "Vietnam Medium";
  src: url("../Fonts/BeVietnamPro-Medium.otf");
}
@font-face {
  font-family: "Vietnam Bold";
  src: url("../Fonts/BeVietnamPro-Bold.otf");
}
@font-face {
  font-family: "Hatton";
  src: url("../Fonts/PPHatton-Medium.otf");
}
@font-face {
  font-family: "Mondwest";
  src: url("../Fonts/PPMondwest-Regular.otf");
}
@font-face {
  font-family: "Grafier Regular";
  src: url("../Fonts/PPGrafier-Regular.otf");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}
