:root {
  --body-bg: rgb(243, 248, 255);
  --y: 377.5;
}

@font-face {
  font-family: "Neue Montreal Book";
  src: url("../Fonts/PPNeueMontreal-Book.otf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background: var(--body-bg);
}
