:root {
  --y: 377.5;
}

@font-face {
  font-family: "Neue Montreal Book";
  src: url("../Fonts/PPNeueMontreal-Book.otf");
}
@font-face {
  font-family: "Neue Montreal Italic";
  src: url("../Fonts/PPNeueMontreal-Italic.otf");
}
@font-face {
  font-family: "Gambarino";
  src: url("../Fonts/Gambarino-Regular.otf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
  overflow: hidden;
}
