.bodyPlacement {
  position: absolute;
  width: 100%;
  background-color: cornflowerblue;
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: fit-content;
}
.addressForm {
  position: relative;
  background-color: blanchedalmond;
  height: 65vh;
  width: 45vw;
  min-width: 380px;
  display: flex;
  flex-direction: column;
  margin-top: 2.5vh;
  padding-left: 15px;
  border-radius: 5px;
}
.deliveryTitle {
  font-family: "Hatton";
}
.nameField {
  gap: 1.5vw;
}
.townPostcode,
.emailPhone,
.nameField {
  /* background-color: aqua; */
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.inputText {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.505);
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: border 150ms ease-in-out;
  margin: 15px;
  margin-left: 0;
  font-family: "Neue Montreal Book";
}
.inputText:focus-visible {
  border: 0;
}
.inputText:hover {
  border: 1px solid black;
}

/* delivery address */
.deliveryAddress {
  display: flex;
  flex-direction: column;
}
.addressLine1 {
  /* background-color: blue; */
  width: 95%;
}
.addressLine1 > input {
  width: 94%;
}

@media (min-width: 768px) {
  .bodyPlacement {
    height: calc(100vh - var(--checkout-header-height));
    flex-direction: row;
  }
}
