.bodyPlacement {
  position: absolute;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: fit-content;
}
.addressForm {
  position: relative;
  height: 65vh;
  width: 45vw;
  min-width: 380px;
  display: flex;
  flex-direction: column;
  margin-top: 2.5vh;
  padding-left: 15px;
  border-radius: 5px;
}
.deliveryTitle {
  font-family: "Hatton";
}
.inputs {
  min-height: 300px;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.townPostcode,
.emailPhone,
.nameField,
.addressLine1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  min-width: 100%;
}
.inputText {
  /* border-left: none;
  border-top: none;
  border-right: none; */
  border-radius: 5px;
  border: 1px solid rgb(170, 170, 170);
  background-color: #f5f5f5;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: border 150ms ease-in-out;
  margin: 15px;
  margin-left: 0;
  margin-right: 25px;
  font-family: "Neue Montreal Book";
  transition: border 150ms ease-in-out;
}
.inputText:focus {
  outline: none;
}
.inputText:hover {
  border: 1px solid black;
}

/* delivery address */
.deliveryAddress {
  display: flex;
  flex-direction: column;
}
.addressLine1 > input {
  width: 95%;
}

@media (min-width: 768px) {
  .bodyPlacement {
    height: calc(100vh - var(--checkout-header-height));
    flex-direction: row;
  }
}
