.itemContainer {
  width: 100%;
  height: 80px;
  background-color: rgb(255, 202, 202);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  border-bottom: 1px solid black;
  font-family: "Vietnam Pro Light";
}
.prodInfo {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 1.5vw;
}
.cartFont {
  display: grid;
  place-items: center;
  font-family: "Neue Montreal Book";
  text-transform: capitalize;
}
.cartImageWrapper {
  height: 80px;
}
.cartImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.quantityWrapper {
  display: flex;
  gap: 2px;
  user-select: none;
}
.quantityWrapper > button {
  border: none;
  background-color: var(--cart-pink);
  border-radius: 5px;
  font-family: "Neue Montreal Book";
  transition: background-color 250ms var(--ease-in-out-quart);
  user-select: none;
}
.quantityWrapper > button:hover {
  background-color: var(--cart-dark-red);
  color: aliceblue;
}
.quantityWrapper > button:disabled:hover {
  background-color: var(--cart-btn-disabled);
}
.deleteBtn {
  border-radius: 5px;
  height: 80%;
  width: 50px;
  background-color: var(--cart-pink);
  border: 1px solid var(--cart-pink);
  transition: background-color 150ms var(--ease-in-out-quart);
}
.deleteBtn:hover {
  background-color: var(--cart-dark-red);
  color: aliceblue;
}
