.navTitle {
  font-family: "Gambarino";
  align-self: flex-start;
  line-height: 0.5vmin;
  user-select: none;
  display: none;
}
.link {
  position: absolute;
  left: 2vmin;
  text-decoration: none;
  color: black;
  width: fit-content;
  height: fit-content;
}
.navTitle > h1 {
  font-size: 1.5rem;
}
#highland {
  position: relative;
  left: 5vmin;
  font-family: "Vietnam Light";
}
@media (min-width: 540px) {
  .navTitle {
    display: block;
  }
  .navTitle > h1 {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .link {
    left: 10vmin;
  }
  .navTitle {
    display: flex;
  }
  .navTitle > h1 {
    font-size: 3rem;
    position: relative;
    bottom: 5px;
  }
  #highland {
    font-size: 1.2rem;
    transform: translateY(50%);
    left: 1.5vmin;
  }
}
