.aboutSection {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  overflow: hidden;
}
.top {
  position: sticky !important;
  top: 0;
}
