.pageWrapper {
  position: absolute;
  height: 200vh;
  width: 100vw;
  /* background-color: rgb(0, 183, 255); */
  background-color: var(--cart-dark-red-outline);
  z-index: -5;
}
.desc1,
.desc2 {
  position: absolute;
  font-size: 3.5vw;
  font-family: "Neue Montreal Book";
  transition: opacity 1.2s cubic-bezier(0.65, 0, 0.35, 1);
  opacity: 0;
  mix-blend-mode: difference;
  color: var(--cart-pink);
  backdrop-filter: blur(1px);
  border-radius: 3px;
  padding: 10px;
}
.desc1 {
  width: 50vw;
  top: 20%;
  left: 20px;
}
.desc2 {
  right: 5vmin;
  top: 50vh;
  width: 30vw;
  font-size: 2.5vw;
  letter-spacing: 0.05ch;
  transition-delay: 0.15;
}
.visible {
  opacity: 1 !important;
}
.aboutImage {
  position: absolute;
  z-index: -1;
  transition: opacity 1.3s cubic-bezier(0.25, 1, 0.5, 1);
  opacity: 0;
}
.aboutImage > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.image1 {
  width: 70vw;
  height: 75vh;
  left: 5vmin;
  top: 10vh;
  transition-delay: 1s;
  filter: grayscale(1);
}
.image2 {
  right: 5vw;
  top: 40vh;
  width: 100vw;
  height: 40vh;
  z-index: -2;
  object-position: top;
}
