.cartTitle {
  color: black;
  font-family: "Vietnam Medium";
  width: fit-content;
  padding-right: 1vmin;
  overflow: hidden;
  cursor: pointer;
}

/* cartMenu */
.cartMenu {
  position: fixed;
  top: 20%;
  left: 2.5vw;
  height: 70vh;
  width: 95vw;
  background-color: gainsboro;
  border-radius: var(--border-rad);
  overflow: hidden;
}

@media (min-width: 768px) {
  .cartTitle {
    font-family: "Vietnam Light";
  }
}
