.navbar {
  width: 100%;
  height: 15vh;
  background-color: rgb(130, 167, 199);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navLinks {
  display: flex;
  align-items: center;
  gap: 2.5vw;
}
.navLink {
  text-decoration: none;
  font-family: "Neue Montreal Book";
  color: black;
}
