.checkoutContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: blanchedalmond;
}
.bag {
  height: 60vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  background-color: brown;
}
