.checkoutContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: rgb(248, 245, 241);
  padding: 20vh 2.5vw 0 2.5vw;
}
.bagSummaryFlex {
  display: flex;
  flex-direction: row;
  gap: 2.5vw;
}
.bag {
  height: fit-content;
  width: 60vw;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
}
.summary {
  width: 25vw;
  /* background-color: rgb(146, 199, 246); */
  background-color: var(--cart-pink);
  height: 60vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
  align-items: center;
}
.summaryTitle {
  font-family: "Gambarino";
}
.totalWrapper {
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.divider {
  height: 1px;
  width: 100%;
  background-color: black;
}
.subtotal,
.delivery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Neue Montreal Book";
}
.subtotalPrice,
.deliveryPrice,
.grandTotalPrice {
  width: 100%;
  display: grid;
  place-items: center end;
}
.grandTotal {
  display: flex;
  flex-direction: row;
  width: 80%;
}
.grandTotalTitle {
  font-family: "Gambarino";
  font-size: 1.5rem;
}
.grandTotalPrice {
  font-family: "Vietnam Light";
}
.link {
  width: 80%;
}
.checkoutButton {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  color: aliceblue;
  border: none;
  background-color: var(--cart-dark-red);
  font-family: "Vietnam Light";
  transition: background-color 150ms ease-in-out;
}
.checkoutButton:hover {
  background-color: var(--cart-btn-disabled);
}
