.checkoutContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: rgb(248, 245, 241);
  padding: 20vh 2.5vw 0 2.5vw;
}
.bagSummaryFlex {
  display: flex;
  flex-direction: row;
  gap: 2.5vw;
}
.bag {
  height: fit-content;
  width: 60vw;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
}
.bagTitle {
  font-family: "Hatton";
  line-height: 0%;
  user-select: none;
}
.noCartItems {
  height: 20vh;
  width: 100%;
  border-radius: 10px;
  color: aliceblue;
  background-color: rgb(7, 38, 12);
  font-family: "Neue Montreal Book";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  letter-spacing: 3px;
}
.cool {
  position: relative;
  display: block;
  font-family: "Mondwest";
  font-size: 1.2rem;
}
.cool:hover > .ltr {
  transform: translateY(-10%);
  letter-spacing: 1.5rem;
}
.ltr {
  position: relative;
  display: inline-block;
  min-width: 0.3rem;
  transition: letter-spacing 250ms,
    transform 250ms cubic-bezier(0.45, 0, 0.55, 1);
}
