.bagItem {
  width: 100%;
  min-height: 150px;
  height: 23.3vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5vmin;
  border-bottom: 1px solid black;
}
.prodImgContainer {
  height: 80%;
  width: 120px;
}
.prodImgContainer > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.detailFlex {
  display: flex;
  flex-direction: column;
  line-height: 0;
  font-family: "Vietnam Light";
}
.removeCart {
  font-size: 0.8rem;
  transition: color 150ms ease-in-out;
  color: rgb(97, 97, 97);
  cursor: pointer;
}
.removeCart:hover {
  color: black;
}
