.accordionItem {
  border: 1px solid black;
  overflow: hidden;
  min-width: 340px;
}
.accordionItem:not(:first-of-type) {
  border-top: 0;
}
.accordionItemTitle {
  margin: 0;
}
.accordionItemBtn {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgb(213, 213, 213);
  border: 0;
  padding: 15px 20px;
  font-size: 18px;
  font-family: "Hatton";
  cursor: pointer;
  user-select: none;
}
.accordionItemContainer {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.accordionItemContent {
  border-top: 1px solid black;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  place-items: center;
}
