.colorBG,
.maskBG {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.75);
  user-select: none;
  transition: filter 250ms ease-in-out;
}
.brightness {
  filter: brightness(0.5) !important;
}
.maskBG {
  display: none;
}

.homeTitle {
  position: absolute;
  left: 18%;
  top: 10%;
  width: fit-content;
  height: fit-content;
  /* background-color: azure; */
}
.homeTitle > h1,
.homeTitle > div {
  color: ivory;
  user-select: none;
  font-family: "Gambarino";
  font-size: 70px;
  line-height: 10px;
}
#highland {
  position: relative;
  left: 5vmin;
  font-family: "Neue Montreal Italic";
  letter-spacing: 3px;
}

@media (min-width: 768px) {
  .maskBG {
    -webkit-mask-image: url("/mask-black.svg");
    -webkit-mask-size: 60px;
    -webkit-mask-repeat: no-repeat;
    filter: blur(2px);
    display: block;
  }
}
