.navbarContainer {
  position: fixed;
  height: 8vh;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10vmin;
}
@media (min-width: 768px) {
  .navbarContainer {
    bottom: auto;
    top: 0;
  }
}
